<div class="view" data-bind="with: releaseBatch">
    <header class="view__header page-header">
        <div class="pull-right">
            <button type="button" class="btn btn-default" data-bind="click: $parent.manage"><span class="glyphicon glyphicon-console"></span> Manage</button>

            <div class="btn-group">
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-refresh"></span> Sync <span class="caret"></span>
                </button>
                <ul class="dropdown-menu pull-right">
                    <!-- ko foreach: $parent.viewEnvironments -->
                    <li><a href="#" data-bind="text: name, click: $component.syncEnvironment"></a></li>
                    <!-- /ko -->
                    <li role="separator" class="divider"></li>
                    <li><a href="#" data-bind="click: $component.syncReleases">Latest releases</a></li>
                    <li><a href="#" data-bind="click: $component.syncPackages">Latest NuGet packages</a></li>
                </ul>
            </div>

            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-cloud-upload"></span> Deploy <span class="caret"></span>
                </button>
                <ul class="dropdown-menu pull-right" data-bind="foreach: $parent.deployEnvironments">
                    <li><a href="#" data-bind="text: name, click: $component.deploy"></a></li>
                </ul>
            </div>
        </div>

        <img class="pull-left batch-logo" data-bind="attr: { src: logoUrl }" />
        <h2 data-bind="text: name"></h2>
    </header>

    <div class="view__body">
        <table class="table table-bordered batch-table">
            <thead>
                <tr>
                    <th>Project</th>
                    <th>Release</th>
                    <!-- ko foreach: $parent.viewEnvironments -->
                    <th data-bind="text: name"></th>
                    <!-- /ko -->
                </tr>
            </thead>
            <tbody data-bind="foreach: { data: items, as: 'batchItem' }">
                <tr>
                    <td class="project-name">
                        <a target="_blank" data-bind="text: projectName, attr: { href: $parents[1].getProjectUrl(batchItem) }"></a>
                    </td>
                    <td class="release-version">
                        <a target="_blank" data-bind="text: releaseVersion, attr: { href: $parents[1].getReleaseUrl(batchItem) }"></a>
                    </td>
                    <!-- ko foreach: { data: $component.viewEnvironments, as: 'environment' } -->
                    <td>
                        <!-- ko with: $component.getProgressDataFromProgression(batchItem, environment) -->
                        <a class="deployment-square" target="_blank" data-bind="if: $data, attr: { href: $component.getDeploymentUrl(batchItem, environment) }">
                            <!-- ko with: $component.getProgressState($data) -->
                            <span class="status" data-bind="css: { 'status--success': $data === 'success', 'status--failed': $data === 'failed', 'status--executing': $data === 'executing' }">
                                <i class="fa" data-bind="css: { 'fa-check': $data === 'success', 'fa-exclamation-triangle': $data === 'failed', 'fa-spinner fa-spin': $data === 'executing' }"></i>
                            </span>
                            <!-- /ko -->
                            <span class="deployment-square-info">
                                <span class="version" data-bind="text: $data.releaseVersion"></span>
                                <span class="release-date" data-bind="text: $component.formatDate($data.completedTime)"></span>
                            </span>
                        </a>
                        <!-- /ko -->
                    </td>
                    <!-- /ko -->
                </tr>
            </tbody>
        </table>

        <div class="container sub-container">
            <div class="col col-lg-6">
                <div class="input-group input-group select2-bootstrap-append">
                    <select class="form-control" data-bind="value: $parent.selectedProject, select2: $parent.projectsSelect2Options"></select>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-primary" aria-haspopup="true" aria-expanded="false" data-bind="enable: $parent.selectedProject, click: $component.linkProject">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </span>
                </div>
            </div>
            <div class="col col-lg-6">
                <div class="audit-info">
                    <p data-bind="visible: updateDateTime, text: $parent.getAuditInfo('updated', updateUserName, updateDateTime)"></p>
                    <p data-bind="visible: syncDateTime, text: $parent.getAuditInfo('synced', syncUserName, syncDateTime, syncEnvironmentName)"></p>
                    <p data-bind="visible: deployDateTime, text: $parent.getAuditInfo('deployed',deployUserName, deployDateTime, deployEnvironmentName)"></p>
                </div>
            </div>
        </div>

    </div>

    <footer class="view__footer">
        <p data-bind="text: description"></p>
    </footer>

</div>
