<div class="view" data-bind="with: releaseBatch">
    <header class="view__header page-header">

        <div class="pull-right">
            <button type="button" class="btn btn-default" data-bind="click: $parent.manage"><span class="glyphicon glyphicon-console"></span> Manage</button>
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-plus"></span> Link Project <span class="caret"></span>
                </button>
                <ul class="dropdown-menu scrollable-menu pull-right" data-bind="foreach: $parent.projects">
                    <li><a href="#" data-bind="text: name, click: $component.linkProject"></a></li>
                </ul>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-refresh"></span> Sync <span class="caret"></span>
                </button>
                <ul class="dropdown-menu pull-right" >                    
                    <!-- ko foreach: $parent.environments -->
                    <li><a href="#" data-bind="text: name, click: $component.syncEnvironment"></a></li>                    
                    <!-- /ko -->
                    <li role="separator" class="divider"></li>
                    <li><a href="#" data-bind="click: $component.syncReleases">Latest releases</a></li>
                    <li><a href="#" data-bind="click: $component.syncPackages">Latest NuGet packages</a></li>
                </ul>
            </div>

            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-cloud-upload"></span> Deploy <span class="caret"></span>
                </button>
                <ul class="dropdown-menu pull-right" data-bind="foreach: $parent.environments">
                    <li><a href="#" data-bind="text: name, click: $component.deploy"></a></li>
                </ul>
            </div>
        </div>

        <img class="pull-left batch-logo" data-bind="attr: { src: logoUrl }" />
        <h2 data-bind="text: name"></h2>
    </header>

    <div class="view__body">
        
        <table class="table table-bordered batch-item-table">
            <thead>
                <tr>
                    <th>Project</th>
                    <th>Release</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: items">
                <tr>
                    <td class="project-name">
                        <a target="_blank" data-bind="text: projectName, attr: { href: $parents[1].getProjectUrl($data) }"></a>
                    </td>
                    <td class="release-version">
                        <a target="_blank" data-bind="text: releaseVersion, attr: { href: $parents[1].getReleaseUrl($data) }"></a>
                    </td>
                </tr>
            </tbody>
        </table>
                
        <div class="audit-info">
            <p data-bind="visible: updateDateTime, text: $parent.getAuditInfo('updated', updateUserName, updateDateTime)"></p>
            <p data-bind="visible: syncDateTime, text: $parent.getAuditInfo('synced', syncUserName, syncDateTime, syncEnvironmentName)"></p>
            <p data-bind="visible: deployDateTime, text: $parent.getAuditInfo('deployed',deployUserName, deployDateTime, deployEnvironmentName)"></p>
        </div>
        
    </div>

    <footer class="view__footer">
        <p data-bind="text: description"></p>
    </footer>

</div>
