<div class="hint">
    <div class="alert alert-info" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <span class="glyphicon glyphicon-console"></span>&nbsp;&nbsp;Manage release batches with the command console by pressing the ( `/~ ) key.
    </div>
</div>

<div class="view" data-bind="with: releaseBatch">
    <header class="view__header page-header">

        <div class="pull-right">
            <div class="btn-group">
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sync <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" data-bind="foreach: $parent.environments">
                    <li><a href="#" data-bind="text: name, click: $component.sync"></a></li>
                </ul>
            </div>

            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Deploy <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" data-bind="foreach: $parent.environments">
                    <li><a href="#" data-bind="text: name, click: $component.deploy"></a></li>
                </ul>
            </div>
        </div>

        <h1 data-bind="text: name"></h1>
    </header>

    <div class="view__body">

       
        
        <ul data-bind="foreach: items">
            <li>
                <span data-bind="text: projectName"></span>
                <span data-bind="text: releaseVersion"></span>
            </li>
        </ul>

    </div>

</div>
