<div class="view">
    <header class="view__header page-header">

        <div class="pull-right">
            <button type="button" class="btn btn-default" data-bind="click: manage"><span class="glyphicon glyphicon-console"></span> Manage</button>
        </div>

        <h2>Release Batches</h2>
    </header>
    <section class="view__body">
        <ul class="batch-list" data-bind="foreach: releaseBatches">
            <li class="batch-list__item"> 
                <a data-bind="attr: { href: detailsUrl }">
                    <img data-bind="attr: { src: logoUrl, alt: name }" />
                    <span data-bind="text: name"></span>
                    <p data-bind="text: description"></p>
                </a>
            </li>
        </ul>
    </section>
</div>